.page-body {
  width: 90vw;
  margin-inline: auto;
  margin-block-start: 4rem;
}

@media screen and (min-width: 768px) {
  .page-body {
    width: 80vw;
    /* Additional styles for .page-body at 768px and above */
  }
}
